<a href="https://colab.research.google.com/github/Lokeshwaran28/lokeshwaran/blob/main/220801109lokeshwaran_dataload.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
d=pd.read_excel ("/content/Book1L.xlsx")
#Get the table data
print("Get the table data:\n")
print(d)

Get the table data:

   s.no name   age  marks
0     1  loke   20     96
1     2   jai   20     86
2     3  dass   20     98
3     4  hari   20     94

In [ ]:
df=pd.DataFrame(d)
print(df)
print("\n Get the column heading\n",df.columns)

   s.no name   age  marks
0     1  loke   20     96
1     2   jai   20     86
2     3  dass   20     98
3     4  hari   20     94

 Get the column heading
 Index(['s.no', 'name ', 'age', 'marks'], dtype='object')

In [ ]:
print("\n Get the Shape-(no.of rows,no.of columns)\n",df.shape)

 Get the Shape-(no.of rows,no.of columns)
 (4, 4)

In [ ]:
print("\n Get particular column values\n",df["marks"])

 Get particular column values
 0    96
1    86
2    98
3    94
Name: marks, dtype: int64

In [ ]:
print("\nGet the particular row values-through row number identification\n",df.loc[3])

Get the particular row values-through row number identification
 s.no        4
name     hari
age        20
marks      94
Name: 3, dtype: object

In [ ]:
print("\nExtract/slice the table values-[including this row, excluding this row]\n",df[1:3])

Extract/slice the table values-[including this row, excluding this row]
    s.no name   age  marks
1     2   jai   20     86
2     3  dass   20     98

In [ ]:
print("\nGet the particular row values-through 'Roll number' identification\n",d.loc[d['marks']==86])

Get the particular row values-through 'Roll number' identification
    s.no name   age  marks
1     2   jai   20     86

In [ ]:
df=d['marks']/5
print("\nMake an average of total marks:\n",df)

Make an average of total marks:
 0    19.2
1    17.2
2    19.6
3    18.8
Name: marks, dtype: float64